.button{
    margin: 10px;
    height: 40px;
    width: 130px;
    background-color: gray;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 10px;
}

h2{
    font-size: 60px;
    font-weight: 300;
    font-family:'Times New Roman', Times, serif;
}

h1{
    color:rgba(0, 0, 0, 0.76);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:oblique;
    font-size: 40px;
}

.timerContainer{
    background-color: rgba(128, 128, 128, 0.349);
    width: fit-content;
    margin: 0 auto;

}

